.taskCard {
    background: black;
    box-shadow: 0px 0px 10px 1px rgb(4, 128, 245);
    border-radius: 8px;
    width: 320px;
    max-width: 320px;
    word-wrap: break-word;
    padding: 5px;

    &__content {
        color: white;
        padding: 5px;
    }
}